---
import Layout from '../../../layouts/Layout.astro';
// idを受け取る
const { id } = Astro.params;

---

<Layout title={`Schedule ID: ${id}`}>
  <main>
    <h1>Schedule ID: {id}</h1>
    <p>Answer your schedule at the following URL:</p>
    <a href={`/answer/answer-schedule-${id}`}>/answer/answer-schedule-{id}</a>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    background-color: white;
    color: black;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1em;
  }
</style>
