---
import '../../style/common.css';

---


<html lang="ja">

<head>
    <meta charset="utf-8">
  </head>
    <body>


        <table class="main">
                <tr>
                    <h1>調整くん</h1>
                </tr>

                <tr>
                    <td>ソフトウェア開発</td>
                    <td>イベント編集</td>
                   
                </tr>


               

            
            
        </table>
    </body>




</html>