.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: calc(50% - 150px);
    margin-right: calc(50% - 150px);

 } 

.center{
    display: flex;
    position: absolute;
    left: 50%;
    margin-left: calc(50% - 150px);
    margin-right: calc(50% - 150px);



}