---
import Layout from '../../layouts/Layout.astro';
const { id } = Astro.params;
---

<Layout title="日程回答ページ">
  <main>
    <h1>日程回答ページ</h1>
    <p>ID: {id}</p>
    <p>日程回答部分</p>
    <button id="answerButton">回答</button>
  </main>
</Layout>


<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    background-color: white;
    color: black;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1em;
  }
</style>


<script>
  document.getElementById('answerButton').addEventListener('click', () => {
    const eventId = "{id}";
    window.location.href = `/answer/show-schedule-result-${eventId}`;
  });


    // イベント情報テーブルの情報を取得
  // window.onload = function(){

    const pathname = window.location.pathname; 

    const filename = pathname.substring(pathname.lastIndexOf("/")+1); 
    // イベントNoを取得する
    const event_no =  filename.substring(16);

    // EVENT_DATE_INFO(日程情報)の取得
    const getEventDateInfoResponse = await fetch('/api/getEventDateInfo', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              event_no: event_no
            })
    });


    const getEventDateInfo_Data =  getEventDateInfoResponse.json();


  // };

</script>
