---
import Layout from '../../layouts/Layout.astro';
const { id } = Astro.params;

---

<Layout title="出欠情報閲覧ページ">
  <main id="id-transfer" data-message={id}>
    <h2>調整くん</h2>
    <div class="item">
      <div class="sub-title">
        <h3 id="event-name">イベント名を取得中...</h3>
      </div>
      <hr>
    </div>
    <div class="item">
      <h3>イベントの詳細説明</h3>
      <p id="event-memo">イベント説明を取得中...</p>
    </div>
    <div class="item">
      <h3>日にち候補</h3>
      <p>※各自の出欠状況を変更するには名前のリンクをクリックしてください。</p>
      <div class="table-container">
        <div id="date_list_container">
          <div id="date_option_container"></div>
        </div>
      </div>
    </div>
     <br>
     <div class="button-conteiner"> 
      <button id="submit-button" type="button">出欠を入力する</button>
     </div>
  </main>  
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    background-color: white;
    color: black;
  }
  table, tr, td {
    border: 1px solid; 
  }
  table {
    width: 50%;
    height: auto;
  }
  h3, p {
    margin: 0;
  } 
  .sub-title {
    display: flex;
    justify-content: space-between;
    align-items: center.
  }
  .item {
    padding-bottom: 24px.
  }
  .table-container {
    display: flex;
    justify-content: center.
  }
  .schedule-result {
    margin-top: 8px.
  }  
  .button-conteiner {
    text-align: center.
  }
  #submit-button {
    border-radius: 4px;
    border: 1px solid ;
    padding: 4px 48px;
    font-size: 18px;
    background-color: rgb(232, 231, 231).
  }
</style>
